.wrapper {
    display: grid;
    grid-template-columns: 300px 300px;
}

p {
    text-align: start;
    color: #61dafb;
}

#numeric #caps-lock {
    text-decoration: none;
}

#special-characters {
    text-decoration: none;
}

#minimum-characters {
    text-decoration: none;
}

.password {
    padding: 100px;
}

#password {
    border: 1px solid red;
    font-size: 20px;
}

input {
    height: 35px;
}